<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content=""width=device-width,initial-sacle=1.0">
        <title>
            register form
        </title>
    </head>
    <body  bgcolor="ffffff">
        <b><h1 align="center"><span style="color:navy">SING IN</span></h1></b>
        <table align="center">
            <tr>
                <td>
                    <form id="myform">
                        <b><label>Enter your email id:</label><b></b><br>
                        <input type="text" id="name" placeholder="email" name="myemail"><br><br>
                        <b><label for="phone">Mobile number:</label></b><br>
                        <input type="text" id="phone" placeholder="phone" name="phone"><br><br>
                        <b><label for ="password">Create a new password</label></b><br>
                        <input type="text" id="password" placeholder="password" name="password"><br><br>
                        <b><label for ="password">Re-enter the password</label></b></br>
                        <input type="text" id="password" placeholder="re-enter password" name="password"><br><br>
                        <b><label for="Enter the validation number">Enter the validation number</label></b><br>
                        <input type="text" id="number" placeholder="Enter the validation number" name="Enter the validation number"><br><br>
                        <button type="submit">submit</button>
                        <button type="reset" >CANCLE</button>

                    </form>
                    </td>
                    </tr>
                    </table>
                    
                    
                
    </body>
</html>