<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Hello Welcome to  Voting app</h1>
    <p> welcome to MP elections</p>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'image.jpeg' %}" class="card-img-top" alt="...">
          <h5 class="card-title"><u>upcoming election</u></h5>
          <p class="card-text">MP election.</p>
        </div>
</body>
</html>